@import url(commons.css);
/* コピペセット
ＮＰＣ@media (max-width: 1199px)
Ｔａｂ@media (max-width: 991px)
携帯横@media (max-width: 767px)
携帯縦@media (max-width: 575px)
メディアクエリ */
main article section.about {
  width: 513px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  @media (max-width: 575px) {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

section.member {
  overflow: hidden;
  font-size: 30px;
}
section.member ul {
  @media (max-width: 1199px) {
    gap: 5px;
  }
  & li {
    @media (max-width: 1199px) {
      width: 30%;
    }
    @media (max-width: 767px) {
      font-size: 13px;
    }
  }
  & figure figcaption {
    width: 100%;
    bottom: 0;
    background-color: #fff;
  }
}
